<button amstore-button-round color="primary" [routerLink]="['create']">
    <amstore-icon iconName="setting" [contrast]="true" [size]="20"/>
    Создать новую
</button>

<div class="amstore-sizes-container">
    @for (item of items$ | async; track item) {
        <div class="amstore-sizes-container-row" [routerLink]="['edit', item.id]">
            <div class="amstore-sizes-container-col-small">{{item.id}}</div>
            <div class="amstore-sizes-container-col-small">{{item.value}}</div>
            <div class="amstore-sizes-container-col-large">{{item.createdAt | date : 'dd.MM.yyyy hh:mm:ss'}}</div>
        </div>
    }
</div>

<amstore-paginator (goToPageEvent)="setFilter({page: $event})" [pageCount]="pageCount" [page]="page"/>
