<div class="amstore-card-container-line">
    <h3>Скачать паттерн:</h3>
    <div *ngFor="let size of sizesWithControl" class="amstore-card-container-download">
        <p>{{size.value}} {{sizeUnit}}:</p>
        <amstore-button color="accent" (click)="downloadPattern(size.id, 'pdf', size.value)">Скачать в формате pdf</amstore-button>
        <amstore-button color="accent" (click)="downloadPattern(size.id, 'cbb', size.value)">Скачать в формате cbb</amstore-button>
        <amstore-button color="accent" (click)="downloadPattern(size.id, 'png', size.value)">Скачать в формате png</amstore-button>
    </div>
</div>
<div class="amstore-card-container-line">
    <h3>Скачать подбор:</h3>
    <div class="amstore-card-container-download">
        <amstore-button color="accent" (click)="downloadColor()">Скачать подбор</amstore-button>
    </div>
</div>
