@import "/src/app/styles/spacing.scss";
@import "/src/app/styles/theming-var.scss";

:host {
    margin-right: get-spacing(2);
}

.language-panel {
    margin-top: 8px;
    border-radius: 8px;
    padding: 8px 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);

    background: get-amstore-color(green, dark);

    &-item {
        min-width: 150px;
        padding: 4px 4px 4px 16px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        color: white;

        &:hover {
            background: get-amstore-color(green, deep);
        }
        img {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            border: 1px solid get-amstore-color(gray, middle);
        }
    }
}

// mobile
@media screen and (max-width: 768px) {
    :host {
        margin-right: get-spacing(1);
    }
}
