<button amstore-button-round
    [badge]="currentTypeObj.type"
    [image]="currentTypeObj.url"
    cdkOverlayOrigin
    (click)="toggle()"
    #origin="cdkOverlayOrigin">
</button>

<ng-template
        cdk-connected-overlay
        cdkConnectedOverlayLockPosition
        cdkConnectedOverlayHasBackdrop
        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        [cdkConnectedOverlayOrigin]="origin"
        [cdkConnectedOverlayOpen]="panelOpen"
        (backdropClick)="close()"
        (detach)="close()">
        <div class="language-panel">
            <div *ngFor="let lang of langTypesList" class="language-panel-item" (click)="setLang(lang.type)">
                {{lang.label}}<img [src]="lang.url"></div>
        </div>
    </ng-template>
