<div class="amstore-pattern-card-actions">
    <amstore-button [stroked]="true" (click)="getBack()">Назад</amstore-button>

    <amstore-button routerLink="edit"
                    [stroked]="true"
                    color="accent">
        Изменить
    </amstore-button>
</div>

@if (pattern$ | async; as pattern) {
    <amstore-pattern-card [pattern]="pattern">
<!--        <admin-pattern-cart [pattern]="pattern">-->
<!--            Корзина админа-->
<!--        </admin-pattern-cart>-->
        <app-pattern-cart [pattern]="pattern"/>
    </amstore-pattern-card>
}
