@import "../../../styles/spacing";
@import "../../../styles/theming-var";

.amstore-card-container-sale {
    padding: get-spacing(1);
    min-width: auto;
    margin-right: get-spacing(2);

    &.not-active {
        animation: pulse 0.5s infinite alternate;
    }
}

@keyframes pulse {
    from {
        box-shadow: 0px 0px 5px 1px get-amstore-color(red, middle);
    }
    to {
        box-shadow: 0px 0px 10px 3px get-amstore-color(red, dark);
    }
}
