<div class="amstore-card-images-wrapper">
    <amstore-image-list [images]="images"></amstore-image-list>
</div>
<div class="amstore-card-container">
    <div class="amstore-card-container-header">
        <h1>{{title}}</h1>
        <div class="amstore-card-container-heart">
            <amstore-icon iconName="heart" [size]="32" [isBlack]="true"></amstore-icon>
        </div>
    </div>
    <div class="amstore-card-container-line amstore-row">
        <amstore-icon iconName="pattern" [size]="32" [isBlack]="true"></amstore-icon>
        <b>Схема</b>
    </div>


    <div class="amstore-card-container-line">
        <h3>Описание:</h3>
        <p>
            Безумно красивый жгут на 2/3 содержащий великолепие и превосходство над остальными жгутами в своем классе
        </p>
    </div>


    <div class="amstore-card-container-line">
        <h3>Категории:</h3>
        <div class="amstore-row">
            <amstore-chip *ngFor="let category of categories" [isDark]="true" size="large">{{category.name}}</amstore-chip>
        </div>
    </div>

    <ng-content>
    </ng-content>
</div>
