@import "theming-var";
@import "spacing";
@import "typography";
@import "utils";

:host {
    display: flex;
    flex-direction: row;
    padding: get-spacing(4);
    gap: get-spacing(6);

    @include amstore-border();

    @include mobile {
        padding: get-spacing(3);
        gap: get-spacing(3);
    }
}


.snapshot-order {
    &__logo {
        border-radius: 4px;
        padding: get-spacing(4);
        background: get-amstore-color(turquoise, deep);

        @include mobile {
            padding: get-spacing(2);
        }
    }

    &__title {
        @include get-amstore-font("body", 14);
        color: get-amstore-color(gray, dark);

        & .value {
            @include get-amstore-font("body", 18);
            color: get-amstore-color(gray, deep);
        }
    }

    &__header {
        cursor: pointer;
        margin-top: 0;
    }

    &__purchase {
        padding-left: get-spacing(6);
    }
}
