<mat-form-field>
    <mat-label>
        {{ label() }}
    </mat-label>

    <input matInput
           ngDefaultControl
           [type]="type()"
           [formControl]="control"
           [name]="name()"
           [autocomplete]="autocomplete()"
           [required]="required()">

    <amstore-icon [iconName]="type() === 'password' ? 'eye-on' : 'eye-off'"
                  [size]="20"
                  (click)="switchType()"
                  color="primary"
                  matSuffix/>

    @if (errorStatusChanges$ | async) {
        <mat-error>
            {{ control.errors | errors }}
        </mat-error>
    }
</mat-form-field>
