<div class="amstore-form-upload-file-container">
    <strong class="amstore-text-accent">{{ format() }}</strong>

    <amstore-button color="accent" (click)="callInputDialog()" [disabled]="!isEmpty">
        <amstore-icon iconName="upload" [contrast]="true" [size]="24"/>
    </amstore-button>

    <amstore-button color="primary" [disabled]="isEmpty">
        <amstore-icon iconName="download" [contrast]="true" [size]="24"/>
    </amstore-button>

    <input type="file"
           #imageInput
           name="uploadimage"
           [accept]="format"
           (change)="dropFiles($event.target)"
           [multiple]="false"
           style="display: none;">

    <span>{{ status }}</span>

    <b>{{ name }}</b>

    @if (isUploaded) {
        <amstore-button color="warn" (click)="clearControl()">
            <amstore-icon iconName="cross" [contrast]="true" [size]="24" />
        </amstore-button>
    }

    @if (isSaved) {
        <amstore-button color="warn" (click)="clearControl()">
            <amstore-icon iconName="trash" [contrast]="true" [size]="24" />
        </amstore-button>
    }

    @if (!isSaved && savedFile) {
        <amstore-button color="accent" (click)="refreshValue()">
            <amstore-icon iconName="refresh" [contrast]="true" [size]="24"/>
        </amstore-button>
    }
</div>

@if (errorStatusChanges$ | async) {
    {{ control.errors | errors }}
}
