@import "spacing";

:host {
  display: flex;
  flex-direction: column;
  gap: get-spacing(2);
  padding: get-spacing(4) get-spacing(6);
  width: 400px;
  height: 600px;
}

.amstore-pattern-cart-edit-sizes {
  display: flex;
  flex-direction: column;
}
