<amstore-button [stroked]="true" (click)="getBack()">Назад</amstore-button>

<div class="amstore-category-add" [formGroup]="form">
    <h1>{{id ? "Изменить" : "Добавить"}} категорию</h1>

    @if (id) {
        <p>id: {{id}}</p>
    }

    <amstore-forms-input formControlName="ru"
                         name="name_ru"
                         label="Имя ru"/>

    <amstore-forms-input formControlName="en"
                         name="name_en"
                         label="Имя en"/>

    <div class="flex flex-row gap-2 justify-end">
        <amstore-button size="large" (click)="save()">Сохранить</amstore-button>

        @if (id) {
            <amstore-button size="large" (click)="delete()">Удалить</amstore-button>
        }
    </div>
</div>
