<h3 mat-dialog-title>Войти</h3>

<mat-dialog-content>
    <form class="amstore-dialog-login" [formGroup]="authForm">
        <amstore-forms-input color="primary"
                             type="email"
                             label="Адрес почты"
                             formControlName="email"
                             name="email"
                             autocomplete="email"
                             [required]="true" />

        <amstore-forms-input-password color="primary"
                                      label="Пароль"
                                      formControlName="password"
                                      name="password"
                                      autocomplete="password"
                                      [required]="true" />
    </form>

    @if (error) {
        <span class="amstore-dialog-login__error">{{ error }}</span>
    }
</mat-dialog-content>

<mat-dialog-actions align="end" class="amstore-dialog-login__actions">
    <amstore-button (click)="login()" color="primary">Забыли пароль?</amstore-button>
    <amstore-button (click)="login()" color="accent">Войти</amstore-button>
</mat-dialog-actions>
