@import "/src/app/styles/theming-var.scss";
@import "/src/app/styles/spacing.scss";
@import "/src/app/styles/typography.scss";

.amstore-dialog-login-panel .mat-dialog-container {
    padding: get-spacing(8);

    h1 {
        width: 100%;
        margin: 0 0 get-spacing(4) 0;

        @include get-amstore-font("headline", 30, null, null);
    }

    amstore-forms-input, amstore-forms-input-password {
        width: 100%;
        margin: get-spacing(1) 0;
    }

    .amstore-dialog-login {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;

        &__error {
            color: get-amstore-color(red, dark);
            padding-bottom: get-spacing(8);
        }
    }
}
