@switch (state()) {
    @case (patternCartState.ToCart) {
        <amstore-button color="primary" size="large" (click)="change()">
            В корзину
        </amstore-button>
    }
    @case (patternCartState.Bought) {
        <amstore-button color="primary" size="large" [disabled]="true">
            Куплено
        </amstore-button>
    }
    @case (patternCartState.Edit) {
        <amstore-button color="warn" size="large" (click)="removeFromCart()">
            Убрать
        </amstore-button>

        <amstore-button color="accent" size="large" (click)="change()">
            Изменить
        </amstore-button>
    }
}
