<div class="amstore-card-images-wrapper">
    <amstore-button class="amstore-card-edit-image-add" (click)="openImagesEdit()">
        Изменить <br> изображения
    </amstore-button>

    <amstore-image-list [images]="images"/>
</div>

<div class="amstore-card-container" [formGroup]="patternForm">
    <div class="amstore-card-container-header">
        <h1>Добавить/Изменить</h1>
    </div>

    <div class="amstore-card-container-line">
        <h3>Основное:</h3>

        <p>Название:</p>
        <div class="row" formGroupName="name">
            <amstore-forms-input class="col-6" formControlName="ru" label="ru"/>
            <amstore-forms-input class="col-6" formControlName="en" label="en"/>
        </div>

        <p>Описание:</p>
        <div class="row" formGroupName="description">
            <amstore-forms-input class="col-6" formControlName="ru" label="ru"/>
            <amstore-forms-input class="col-6" formControlName="en" label="en"/>
        </div>

        <p>Базовая цена:</p>
        <div class="row" formGroupName="basePrice">
            <amstore-forms-input class="col-6" formControlName="ru" label="ru" type="number"/>
            <amstore-forms-input class="col-6" formControlName="en" label="en" type="number"/>
        </div>

        <p>Цена за дополнительный размер:</p>
        <div class="row" formGroupName="additionalPrice">
            <amstore-forms-input class="col-6" formControlName="ru" label="ru" type="number"/>
            <amstore-forms-input class="col-6" formControlName="en" label="en" type="number"/>
        </div>

        <p>Цена за подбор цвета:</p>
        <div class="row" formGroupName="colorPrice">
            <amstore-forms-input class="col-6" formControlName="ru" label="ru" type="number"/>
            <amstore-forms-input class="col-6" formControlName="en" label="en" type="number"/>
        </div>
    </div>

    <div class="amstore-card-container-line">
        <h3>Прочие параметры:</h3>

        <amstore-checkbox formControlName="hidden" label="Скрытый"/>
    </div>

    <div class="amstore-card-container-line">
        <h3>Цветовая схема:</h3>

        <amstore-form-upload format=".jpg" formControlName="color"/>
    </div>

    <div class="amstore-card-container-line" >
        <h3>Размеры и файлы:</h3>

        <amstore-pattern-sizes #patternSizes [formArray]="sizeArrayForm"/>
    </div>

    <div class="amstore-card-container-line">
        <h3>Категории:</h3>

        <amstore-form-select [items]="categoriesList$ | async"
                             label="Категории"
                             [multiple]="true"
                             formControlName="categories"/>
    </div>


    <div class="amstore-row amstore-card-container-buttons">
        <amstore-button (click)="cancel()"
                        [stroked]="true"
                        color="warn">
            Отменить
        </amstore-button>

        <amstore-button (click)="save()">
            Сохранить
        </amstore-button>
    </div>
</div>
