@use "theming-var";
@use "spacing";
@use "typography";

.amstore-sizes-container {
    margin: spacing.get-spacing(default) 0;
    display: block;

    &-row {
        border-width: 0;
        border-style: solid;
        border-color: theming-var.get-amstore-color(gray, light);
        border-top-width: 1px;
        cursor: pointer;

        padding: spacing.get-spacing(2);

        display: flex;
        flex-direction: row;
        min-height: 48px;
        align-content: center;
        align-items: center;

        &:last-child {
            border-bottom-width: 1px;
        }
        &:hover {
            background: theming-var.get-amstore-color(gray, slight);
        }
    }
    &-col-small {
        width: 20%;
    }

    &-col-large {
        width: 60%;
    }
    &-col-small, &-col-large {
        padding: spacing.get-spacing(2);
    }
}
