@use "theming-var";
@use "spacing";
@use "typography";


@mixin amstore-info-color($theme) {
    color:  theming-var.get-amstore-color(gray, white);
    background: theming-var.get-amstore-color($theme, deep);

    &.is-contrast {
        color:  theming-var.get-amstore-color(gray, deep);
        background: theming-var.get-amstore-color($theme, slight);
    }
}

:host {
    display: flex;
    flex-direction: row;
    padding: spacing.get-spacing(3);
    border-radius: 8px;

    amstore-icon {
        margin-right: 8px;
    }

    &.amstore-primary {
        @include amstore-info-color(green);
    }

    &.amstore-accent {
        @include amstore-info-color(blue);
    }

    &.amstore-warn {
        @include amstore-info-color(red);
    }

    &.amstore-special {
        @include amstore-info-color(turquoise);
    }

    @include typography.get-amstore-font("body", 14, null, null);
}
