@use 'buttons/base';
@use 'forms/forms';
@use '../shared/snapshot/snapshot' as snapshot;
@use '../shared/snapshot/snapshot.mobile' as snapshot-mobile;
@use '../shared/card/card' as cart;
@use '../shared/card/card.mobile' as cart-mobile;

@mixin cdkBase {
    @include base.amstore-button-base();
    @include forms.amstore-form();
    @include snapshot.amstore-snapshot();
    @include snapshot-mobile.amstore-snapshot();
    @include cart.amstore-card();
    @include cart-mobile.amstore-card();
    @include cart-mobile.amstore-card-images();

    .amstore-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .amstore-column {
        display: flex;
        flex-direction: column;
    }
}
