@use 'sass:math';
@use "spacing";
@use "theming-var";

.amstore-button-base.amstore-snapshot-container-sale {
    padding: math.div(spacing.get-spacing(1), 2);
    min-width: auto;
    margin-right: spacing.get-spacing(1);
    animation: pulse 0.5s infinite alternate;

    &.not-active {
        animation: pulse 0.5s infinite alternate;
    }
}

@keyframes pulse {
    from {
        box-shadow: 0px 0px 3px 1px theming-var.get-amstore-color(red, slight);
    }
    to {
        box-shadow: 0px 0px 6px 2px theming-var.get-amstore-color(red, dark);
    }
}
