<h2>Корзина</h2>

@if (isAdmin()) {
    <amstore-cart-action-admin/>
} @else if (auth()) {
    <amstore-cart-action-auth/>
} @else {
    <amstore-cart-action-no-auth class="my-4 block"/>
}

<h2 class="pb-4">Список паттернов</h2>

<div class="flex flex-col">
    @if (items()) {
        @for (item of items(); track item.pattern.id) {
            <amstore-snapshot-pattern [pattern]="item.pattern"
                                      [routerLink]="['pattern', item.pattern.id]"/>
        } @empty {
            <h4>Список пуст</h4>
        }
    } @else {

    }

    @if (removed().length) {
        <h2 class="pb-4">Удаленные</h2>

        @for (item of removed(); track item.pattern.id) {
            <amstore-snapshot-pattern [pattern]="item.pattern"
                                      [routerLink]="['pattern', item.pattern.id]"/>
        }
    }
</div>
