<div class="amstore-viewer-main-image">
    <div (click)="prevImage($event)">
        <amstore-icon iconName="left-arrow" [size]="32" [contrast]="true"/>
    </div>

    <img [outsideSrc]="data.images[data.index].image_full">

    <div (click)="nextImage($event)">
        <amstore-icon iconName="right-arrow" [size]="32" [contrast]="true"/>
    </div>
</div>

<div class="amstore-viewer-snippet-images">
    @for (image of data.images; track image) {
        <img [outsideSrc]="image.image_small" [class.image-active]="$index === data.index" (click)="goToIndex($index, $event)">
    }
</div>
