@if (pattern) {
    <h2>
        <ng-content />
    </h2>

    <form [formGroup]="form">
        <div class="admin-pattern-cart__row">
<!--            @if (sizeItems()?.length) {-->
<!--                <amstore-chips-checkbox [items]="sizeItems()" formControlName="size">-->
<!--                    <h3>Размеры</h3>-->
<!--                </amstore-chips-checkbox>-->
<!--            }-->
        </div>

        <div class="admin-pattern-cart__row">
            <h3>Подбор</h3>

            <amstore-slide size="large" formControlName="color">Включить подбор</amstore-slide>
        </div>
    </form>

    <amstore-button color="warn"
                    class="amstore-card-container-sale"
                    size="large"
                    (click)="removePattern()"
                    [disabled]="isEmpty">
        <amstore-icon iconName="trash" [contrast]="true" [size]="24" />
        Убрать
    </amstore-button>
}
