@import "/src/app/styles/theming-var.scss";
@import "/src/app/styles/spacing.scss";
@import "/src/app/styles/typography.scss";


.amstore-category-add {
    width: 100%;
    overflow: hidden;
    padding: get-spacing(default);

    border-radius: $card-border-radius;
    box-shadow: 0 0 8px rgba(get-amstore-color(gray, deep), .3 );
}
amstore-button {
    margin-bottom: get-spacing(default);
}
