<div class="amstore-snapshot-container-line">
    @for (category of pattern().category; track category) {
        <amstore-chip [isDark]="true">
            <amstore-lang-text [text]="category.name"/>
        </amstore-chip>
    }
</div>

<div class="amstore-snapshot-container-line">
    @for (size of pattern().sizes; track size) {
        <amstore-chip [stroked]="true" color="warn" [isDark]="true">
            {{ size.size.value }} см
        </amstore-chip>
    }
</div>

<div class="amstore-snapshot-container-line">
    <h2>
        <amstore-lang-number [value]="pattern().price"/>
        <amstore-lang-text [text]="moneyUnit"/>
    </h2>
</div>


<div class="amstore-snapshot-container-info" [@expand]="showSale ? 'expanded' : 'collapsed'">
    <amstore-info status="alert">
        Aкция:<br>
        На данный товар применяется акция - при покупке схем из списка цена на каждый товар уменьшается. Ознакомится с
        условиями акции можно по Ссылке. При удовлетворении условий цена автоматически просчитается.
    </amstore-info>
</div>

<div class="amstore-snapshot-container-line amstore-snapshot-container-buttons">
    @if (false) {
        <amstore-button color="warn" class="amstore-snapshot-container-sale" (click)="showSale = !showSale">
            <amstore-icon iconName="sale" [contrast]="true" [size]="24"/>
        </amstore-button>
    }

    <!--  TODO: Тож наверное перенести  -->
    <amstore-button [routerLink]="routerLink()" color="primary">Подробнее</amstore-button>
</div>
