@use "theming-var";
@use "spacing";
@use "typography";


.amstore-category-add {
    width: 100%;
    overflow: hidden;
    padding: spacing.get-spacing(default);

    border-radius: theming-var.$card-border-radius;
    box-shadow: 0 0 8px rgba(theming-var.get-amstore-color(gray, deep), .3 );
}
amstore-button {
    margin-bottom: spacing.get-spacing(default);
}
