<mat-form-field>
    <mat-label>
        <ng-content selector="amstore-forms-label"></ng-content>
    </mat-label>

    <input matInput [type]="type" [formControl]="formControl" [name]="name" [autocomplete]="autocomplete" [required]="required" ngDefaultControl>

    <amstore-icon [iconName]="type === 'password' ? 'eye-on' : 'eye-off'"
                  [size]="20"
                  (click)="switchType()"
                  color="primary"
                  matSuffix></amstore-icon>

    <mat-error *ngIf="isErrorState">{{errors$ | async}}</mat-error>
</mat-form-field>
