<mat-form-field>
    <mat-label>
        <ng-content selector="amstore-forms-label"/>
    </mat-label>

    <input matInput
           ngDefaultControl
           [type]="type()"
           [formControl]="control"
           [name]="name()"
           [autocomplete]="autocomplete()"
           [required]="required()">

    <amstore-icon [iconName]="type() === 'password' ? 'eye-on' : 'eye-off'"
                  [size]="20"
                  (click)="switchType()"
                  color="primary"
                  matSuffix/>

    @if (errorStatusChanges$ | async) {
        {{ control.errors | errors }}
    }
</mat-form-field>
