@use "spacing";
@use "theming-var";

.amstore-card-container-sale {
    padding: spacing.get-spacing(1);
    min-width: auto;
    margin-right: spacing.get-spacing(2);

    &.not-active {
        animation: pulse 0.5s infinite alternate;
    }
}

@keyframes pulse {
    from {
        box-shadow: 0px 0px 5px 1px theming-var.get-amstore-color(red, middle);
    }
    to {
        box-shadow: 0px 0px 10px 3px theming-var.get-amstore-color(red, dark);
    }
}
