@import "spacing";

.amstore-filter {
    &-buttons {
        padding: get-spacing(3) 0;

        amstore-button:not(:last-child) {
            margin-right: get-spacing(2);
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding-right: get-spacing(2);
    }
}
