@import "/src/app/styles/spacing.scss";
@import "/src/app/styles/theming-var.scss";


@mixin amstore-chip-checkbox-color($theme) {
    .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
        background: get-amstore-color($theme, middle);
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: get-amstore-color($theme, dark);
    }

    .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
        background: get-amstore-color($theme, dark);
    }

    .mat-checkbox-frame {
        border-color: get-amstore-color($theme, dark);
        border-width: 1px;
    }
}

.amstore-chips-checkbox {
    margin-bottom: get-spacing(2);
    display: block;

    &-list {
        display: flex;
        flex-wrap: wrap;
    }

    amstore-chip {
        display: flex;
        margin-top: get-spacing(2);

        mat-checkbox {
            margin-right: get-spacing(2);
        }
    }

    .amstore-chip:not(:last-child) {
        margin-right: get-spacing(2);
    }

    &.amstore-primary {
        @include amstore-chip-checkbox-color(green);
    }

    &.amstore-accent {
        @include amstore-chip-checkbox-color(blue);
    }

    &.amstore-warn {
        @include amstore-chip-checkbox-color(red);
    }

    &.amstore-special {
        @include amstore-chip-checkbox-color(turquoise);
    }
}
