@let state = viewState();

@if (state) {
    <div class="amstore-line space-between">
        <h4>Размеры: </h4>

        <div class="amstore-line g2">
            @for (size of state.sizes; track size) {
                <amstore-chip [isDark]="true">
                    {{size}}
                </amstore-chip>
            }
        </div>
    </div>

    <div class="amstore-line space-between">
        <h4>Включен подбор цвета: </h4>

        <amstore-chip [isDark]="true" [color]="state.color ? 'primary' : 'warn'">
            {{ state.color ? "Да" : "Нет"}}
        </amstore-chip>
    </div>

    <div class="amstore-column right">
        <h4>Цена</h4>
        <h2>{{ state.price }} {{ currency() }}</h2>
    </div>

    <div class="amstore-line right g2 p-top4">
        @if (inCart()) {
            <amstore-button [stroked]="true" color="warn" (click)="removeFromCart.emit()">
                Удалить
            </amstore-button>

            <amstore-button (click)="goToCard.emit()">
                Изменить
            </amstore-button>
        } @else {
            <amstore-button color="accent" (click)="returnToCart.emit()">
                Вернуть
            </amstore-button>
        }
    </div>
}
