<div class="flex flex-row gap-4 my-6">
    <amstore-button [stroked]="true" (click)="getBack()">Назад</amstore-button>

    @if (isAdmin()) {
        <amstore-button routerLink="edit"
                        [stroked]="true"
                        color="accent">
            Изменить
        </amstore-button>

        <amstore-button routerLink="edit"
                        [stroked]="true"
                        color="accent">
            Копировать
        </amstore-button>
    }
</div>

@if (pattern$ | async; as pattern) {
    <amstore-pattern-card [pattern]="pattern">
<!--        <admin-pattern-cart [pattern]="pattern">-->
<!--            Корзина админа-->
<!--        </admin-pattern-cart>-->
        <amstore-pattern-cart [pattern]="pattern"/>
    </amstore-pattern-card>
}
