@use "spacing";

p {
    margin: spacing.get-spacing(4) 0;
}

amstore-button {
    margin: spacing.get-spacing(2) 0;
}

.amstore-default-dialog-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
