@use 'sass:math';
@use 'theming-var';
@use 'spacing';
@use "typography";

@mixin amstore-chip-color($theme) {
    color: theming-var.get-amstore-color(gray, white);
    background: theming-var.get-amstore-color($theme, dark);

    &.is-contrast {
        background: theming-var.get-amstore-color($theme, deep);
    }

    &.is-dark {
        background: theming-var.get-amstore-color($theme, deep);
    }
    &.amstore-chip-stroked {
        border: 1px solid theming-var.get-amstore-color($theme, deep);
        background: theming-var.get-amstore-color(gray, white);
        color: theming-var.get-amstore-color($theme, deep);
    }
}

:host.amstore-chip {
    display: block;
    border-radius: 4px;
    cursor: pointer;
    background: red;

    &-small {
        @include typography.get-amstore-font("body", 8, null, null);
        padding: math.div(spacing.get-spacing(1), 2) spacing.get-spacing(2);
    }

    &-medium {
        @include typography.get-amstore-font("body", 12, null, null);
        padding: math.div(spacing.get-spacing(1), 2) spacing.get-spacing(2);
    }

    &-large {
        @include typography.get-amstore-font("body", 14, null, null);
        padding: spacing.get-spacing(1) spacing.get-spacing(3);
    }

    &.amstore-primary {
        @include amstore-chip-color(green);
    }

    &.amstore-accent {
        @include amstore-chip-color(blue);
    }

    &.amstore-warn {
        @include amstore-chip-color(red);
    }

    &.amstore-special {
        @include amstore-chip-color(turquoise);
    }
}
