@if (form; as form) {
    <h3>Размеры паттерна</h3>

    <div class="flex flex-row flex-wrap gap-1">
        @for (size of form.sizes; track $index) {
            @let label = size.label().value();

            @if (size.own().value()) {
                <amstore-chip [style.order]="1">{{ label }}</amstore-chip>
            } @else {
                <amstore-checkbox-signal [style.order]="label" [label]="label" [formField]="size.value" color="primary"/>
            }
        }
    </div>

    @if (form.color.exists().value()) {
        <h3>Подбор цвета</h3>

        @if (!form.color.exists().value()) {
            <span>Для этой схемы нет подбора цвета</span>
        } @else if (form.color.own().value()) {
            <h4>Куплен</h4>
        } @else {
            <amstore-slide-signal [formField]="form.color.value"/>
        }
    }

    <div class="amstore-column right p2">
        <h3>Цена</h3>

        <h2>
            <amstore-lang-number [value]="price()"/> {{ currency() }}
        </h2>
    </div>
}

<div class="amstore-actions-line right">
    @switch (patternCartButton()) {
        @case (patternCartStateType.ToCart) {
            <amstore-button color="primary" (click)="toCart()" [disabled]="!currentCart()">
                В корзину
            </amstore-button>
        }
        @case (patternCartStateType.Bought) {
            <amstore-button color="primary" [disabled]="true">
                Куплено
            </amstore-button>
        }
        @case (patternCartStateType.ToEdit) {
            <amstore-button color="warn" (click)="removeFromCart()">
                Удалить
            </amstore-button>

            <amstore-button color="accent" (click)="change()">
                Изменить выбор
            </amstore-button>
        }
        @case (patternCartStateType.Editing) {
            <amstore-button color="warn" (click)="removeFromCart()">
                Удалить
            </amstore-button>

            <amstore-button color="accent" [stroked]="true" (click)="cancel()">
                Отменить
            </amstore-button>

            <amstore-button color="primary" (click)="toCart()" [disabled]="!currentCart()">
                Обновить
            </amstore-button>
        }
    }
</div>
