<h2 class="p-bottom4">Схемы</h2>

<div class="amstore-column">
    @for (item of items(); track item) {
        <amstore-snapshot-pattern [pattern]="item.pattern"
                                  [routerLink]="['pattern', item.pattern.id]"
                                  [style.order]="item.index">
            <amstore-pattern-cart-short [pattern]="item.pattern"
                                        [cart]="item.cart"
                                        [inCart]="!item.removed"
                                        (removeFromCart)="removeFromCart(item)"
                                        (returnToCart)="returnToCart(item)"
                                        (goToCard)="goToCart(item.pattern.id)"/>
        </amstore-snapshot-pattern>
    } @empty {
        <h4>Список пуст</h4>
    }
</div>
