@use 'spacing';
@use 'utils';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.amstore-image-list-editor {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;

    padding: spacing.get-spacing(2);
    flex-grow: 1;

    img {
        object-fit: cover;
        cursor: pointer;

        margin: spacing.get-spacing(1);
        border-radius: 4px;

        height: 100px;
        max-width: 120px;

        @include utils.tablet {
            border-radius: 12px;
            height: 240px;
            max-width: 300px;
        }
    }

    &-button {
        flex-shrink: 0;
        text-align: end;

        amstore-button:not(:last-child) {
            margin-right: spacing.get-spacing(4);
        }
    }

    .col {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: spacing.get-spacing(2);

        @include utils.tablet {
            height: 44px;
        }
    }

    &-actions {
        amstore-button {
            min-width: 50px;
            display: flex;
            height: 50px;
            font-size: 36px;
            align-items: center;
            justify-content: center;
        }
    }

    &-image-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

        padding: spacing.get-spacing(2) 0;
    }
}
