@import "spacing";
@import "utils";

.admin-cart {
    &__pattern {
        margin: get-spacing(4) 0;
        padding: get-spacing(2);
        @include amstore-border();

        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

        &-image {
            @include tablet {
                width: 30%;
            }
        }

        &-content {
            padding: 0 get-spacing(4);
            flex-grow: 1;
        }
    }
}
