@use "spacing";
@use "utils";

.admin-cart {
    &__pattern {
        margin: spacing.get-spacing(4) 0;
        padding: spacing.get-spacing(2);
        @include utils.amstore-border();

        display: flex;
        flex-direction: column;

        @include utils.tablet {
            flex-direction: row;
        }

        &-image {
            @include utils.tablet {
                width: 30%;
            }
        }

        &-content {
            padding: 0 spacing.get-spacing(4);
            flex-grow: 1;
        }
    }
}
