@import "spacing.scss";


.amstore-actions-line {
    margin: get-spacing(2) 0;
    display: flex;
    flex-direction: row;
    gap: get-spacing(2);

    &.right {
        justify-content: flex-end;
    }

    &.center {
        justify-content: center;
    }
}
