
@mixin get-amstore-font($type: 'body', $level: 16, $weight: null, $underline: null) {
    $size-config: (
        8: 8px,
        10: 10px,
        12: 12px,
        14: 14px,
        16: 16px,
        18: 18px,
        20: 20px,
        22: 22px,
        24: 24px,
        28: 28px,
        32: 32px,
        36: 36px,
    );
    $line-height-config:  (
        8: 12px,
        10: 14px,
        12: 16px,
        14: 18px,
        16: 20px,
        18: 22px,
        20: 24px,
        22: 26px,
        24: 28px,
        28: 32px,
        32: 36px,
        36: 40px,
    );
    $font-weight-config: (
        extralight: 200,
        light: 300,
        regular: 400
    );
    $text-decoration-config: (
        underline: 'underline'
    );

    $line-height: map-get($line-height-config, $level);
    @if $type == 'headline' {
        $line-height: map-get($size-config, $level);
    }

    $font-weight: map-get($font-weight-config, 'light');
    @if $type == 'body' {
        $font-weight: map-get($font-weight-config, 'regular');
    }
    @if $weight {
        $font-weight: map-get($font-weight-config, $weight);
    }

    $text-decoration: none;
    @if $underline {
        $text-decoration: 'underline';
    }

    font-family: 'Raleway', sans-serif;
    font-size: map-get($size-config, $level);
    line-height: $line-height;
    font-weight: $font-weight;
    text-decoration: $text-decoration;
}
