@import "typography.scss";
@import "theming-var.scss";


$width-fhd: 1920px;
$width-hd-max: $width-fhd - 1px;
$width-hd: 1280px;
$width-tablet-max: $width-hd - 1px;
$width-tablet: 768px;
$width-mobile-max: $width-tablet - 1px;


@mixin amstore-box-shadow() {
    box-shadow: 0 0 8px rgb(17 17 17 / 30%);
}

@mixin amstore-border() {
    border-radius: 8px;
    @include amstore-box-shadow();
}


@mixin mobile {
    @media screen and (max-width: $width-mobile-max) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $width-tablet) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: $width-tablet) and (max-width: $width-tablet-max) {
        @content;
    }
}

@mixin portable {
    @media screen and (max-width: $width-tablet-max) {
        @content;
    }
}

@mixin fhd {
    @media screen and (min-width: $width-hd) {
        @content;
    }
}

@mixin qhd {
    @media screen and (min-width: $width-fhd) {
        @content;
    }
}

@mixin link {
    cursor: pointer;
    color: get-amstore-color(blue, deep);
    text-decoration: underline;
    @include get-amstore-font();

    &:hover {
        color: get-amstore-color(blue, dark);
    }

    &:active {
        color: get-amstore-color(blue, middle);
    }

    &[disabled="true"] {
        color: get-amstore-color(blue, deep);
        cursor: default;
        pointer-events: none;
    }
}
