@use "spacing";

// desktop
:host {
    amstore-icon:not(:last-child) {
        margin-right: spacing.get-spacing(1);
    }

    amstore-icon:not(:first-child) {
        margin-left: spacing.get-spacing(1);
    }
}

// mobile
@media screen and (max-width: 768px) {
    :host {
        margin-right: spacing.get-spacing(1);
    }

    amstore-icon {
        margin-right: 0;
    }

    .header-button-label {
        display: none;
    }
}
