@use "spacing";

// TODO: utils
// desktop
@media screen and (min-width: 768px) {
    :host, .amstore-icon {
        margin-right: spacing.get-spacing(2);
    }
}

// mobile
@media screen and (max-width: 768px) {
    :host, amstore-icon {
        margin-right: spacing.get-spacing(1);
    }

    .header-button-label {
        display: none;
    }
}
