@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

@import "/src/app/styles/theming-var.scss";
@import "/src/app/styles/spacing.scss";
@import "/src/app/styles/typography.scss";
@import "app/styles/utils";
@import './app/styles/base.scss';
@import './app/styles/global.scss';
@import './app/styles/material.scss';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Raleway, "Helvetica Neue", sans-serif;
}

h1 {
  @include get-amstore-font("header", 36, null, null);
  margin: get-spacing(2) 0;
}

h2 {
  @include get-amstore-font("header", 24, null, null);

  margin: get-spacing(2) 0;
}

h3 {
  @include get-amstore-font("header", 20, null, null);

  margin: get-spacing(2) 0;
}

h4 {
  @include get-amstore-font("header", 16, null, null);

  margin: get-spacing(2) 0;
}

p {
  margin: get-spacing(1) 0;
}

.amstore-text-primary {
  color: get-amstore-color(green, deep);
}

.amstore-text-accent {
  color: get-amstore-color(blue, deep);
}

.amstore-text-warn {
  color: get-amstore-color(red, deep);
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}
