@use '@angular/material' as mat;
@use "theming-var";
@use "spacing";
@use "typography";
@use "utils";
@use "material";
@use "../cdk/cdk.base" as cdkBase;
@use "sass:math" as math;

@include mat.elevation-classes();
@include mat.app-background();
@include cdkBase.cdkBase;
@include material.material();

html {
  color-scheme: light;
  @include mat.theme((
          color: mat.$violet-palette,
          typography: 'Raleway',
          density: 0
  ));
}

:root {
  --mat-sys-corner-full: 9999px;
}

html {
  --mat-dialog-actions-alignment: end;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Raleway, "Helvetica Neue", sans-serif;
}

h1 {
  @include typography.get-amstore-font("header", 36, null, null);
  margin: spacing.get-spacing(2) 0;
}

h2 {
  @include typography.get-amstore-font("header", 24, null, null);

  margin: spacing.get-spacing(2) 0;
}

h3 {
  @include typography.get-amstore-font("header", 20, null, null);

  margin: spacing.get-spacing(2) 0;
}

h4 {
  @include typography.get-amstore-font("header", 16, null, null);

  margin: spacing.get-spacing(1) 0;
}

p {
  margin: math.div(spacing.get-spacing(1), 2) 0;
}

.amstore-text-primary {
  color: theming-var.get-amstore-color(green, deep);
}

.amstore-text-accent {
  color: theming-var.get-amstore-color(blue, deep);
}

.amstore-text-warn {
  color: theming-var.get-amstore-color(red, deep);
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.amstore-line {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.space-between {
    justify-content: space-between;
  }

  &.right {
    justify-content: flex-end;
  }
}

.g2 {
  gap: spacing.get-spacing(2);
}

.g4 {
  gap: spacing.get-spacing(4);
}

.p2 {
  padding: spacing.get-spacing(2);
}

.p4 {
  padding: spacing.get-spacing(4);
}

.p-top2 {
  padding-top: spacing.get-spacing(2);
}

.p-top4 {
  padding-top: spacing.get-spacing(4);
}

.p-bottom2 {
  padding-bottom: spacing.get-spacing(2);
}

.p-bottom4 {
  padding-bottom: spacing.get-spacing(4);
}

.p-x4 {
  padding-left: spacing.get-spacing(4);
  padding-right: spacing.get-spacing(4);
}

.p-x6 {
  padding-left: spacing.get-spacing(6);
  padding-right: spacing.get-spacing(6);
}


.amstore-column {
  display: flex;
  flex-direction: column;

  &.right {
    align-items: flex-end
  }
}

.amstore-actions-line {
  margin: spacing.get-spacing(2) 0;
  display: flex;
  flex-direction: row;
  gap: spacing.get-spacing(2);

  &.right {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }
}
