@use '@angular/material' as mat;
@use "theming-var";
@use "spacing";
@use "typography";
@use "utils";
@use "material";
@use "../cdk/cdk.base" as cdkBase;

@include mat.elevation-classes();
@include mat.app-background();
@include cdkBase.cdkBase;
@include material.material();

html {
  color-scheme: light;
  @include mat.theme((
          color: mat.$violet-palette,
          typography: 'Raleway',
          density: 0
  ));
}

:root {
  --mat-sys-corner-full: 9999px;
}

html {
  --mat-dialog-actions-alignment: end;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Raleway, "Helvetica Neue", sans-serif;
}

h1 {
  @include typography.get-amstore-font("header", 36, null, null);
  margin: spacing.get-spacing(2) 0;
}

h2 {
  @include typography.get-amstore-font("header", 24, null, null);

  margin: spacing.get-spacing(2) 0;
}

h3 {
  @include typography.get-amstore-font("header", 20, null, null);

  margin: spacing.get-spacing(2) 0;
}

h4 {
  @include typography.get-amstore-font("header", 16, null, null);

  margin: spacing.get-spacing(2) 0;
}

p {
  margin: spacing.get-spacing(1) 0;
}

.amstore-text-primary {
  color: theming-var.get-amstore-color(green, deep);
}

.amstore-text-accent {
  color: theming-var.get-amstore-color(blue, deep);
}

.amstore-text-warn {
  color: theming-var.get-amstore-color(red, deep);
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.amstore-actions-line {
  margin: spacing.get-spacing(2) 0;
  display: flex;
  flex-direction: row;
  gap: spacing.get-spacing(2);

  &.right {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }
}
