@use "spacing";
@use "theming-var";
@use "typography";
@use "utils";

$card-border-radius: 8px;

@mixin amstore-card {
    .amstore-card {
        display: flex;
        flex-direction: row;
        overflow: hidden;

        border-radius: $card-border-radius;
        margin-bottom: spacing.get-spacing(default);
        box-shadow: 0 0 8px rgba(theming-var.get-amstore-color(gray, deep), .3);


        &-images-wrapper {
            @include utils.tablet {
                text-align: center;
                width: 30%;
                padding: spacing.get-spacing(2);
            }
        }

        h1 {
            margin: 0;
            @include typography.get-amstore-font("header", 36, null, null);
        }

        &-container {
            padding: spacing.get-spacing(default) spacing.get-spacing(default) spacing.get-spacing(default) spacing.get-spacing(2);
            width: 70%;

            &-header {
                display: flex;
                flex-direction: row;
                align-items: center;

                h1 {
                    margin: spacing.get-spacing(1);
                }
            }

            h2 {
                text-align: right;
                @include typography.get-amstore-font("header", 28, null, null);
            }

            h3 {
                margin: spacing.get-spacing(2) 0;
                @include typography.get-amstore-font("header", 20, null, null);
            }

            p {
                @include typography.get-amstore-font("body", 16, null, null);
                margin: 0;
            }

            &-heart {
                margin-left: auto;
            }

            &-line {
                display: flex;
                flex-direction: column;
                padding: spacing.get-spacing(1);
                width: 100%;

                amstore-chip {
                    margin: 0 spacing.get-spacing(1) spacing.get-spacing(1) 0;
                }
            }

            &-buttons {
                justify-content: flex-end;
                gap: spacing.get-spacing(4);
            }

            &-info {
                margin: spacing.get-spacing(2);
                overflow: hidden;
            }

            &-download {
                * {
                    margin: spacing.get-spacing(1) 0;
                }
            }
        }
    }
}
