<amstore-panel-basic class="container">
    <h1>Регистрация нового пользователя</h1>

    <form [formGroup]="regForm">
        <div class="row">
            <amstore-forms-input type="email"
                                 formControlName="email"
                                 [required]="true"
                                 class="col-12"
                                 label="Email" />

            <amstore-forms-input-password class="col-12"
                                          formControlName="password"
                                          label="Пароль"
                                          [required]="true" />

            <amstore-forms-input-password class="col-12"
                                          formControlName="passwordRepeat"
                                          label="Повторите пароль"
                                          [required]="true" />
        </div>

        <div class="row">
            <amstore-forms-input class="col-6"
                                 formControlName="firstName"
                                 label="Имя" />

            <amstore-forms-input class="col-6"
                                 formControlName="lastName"
                                 label="Фамилия" />
        </div>

        <amstore-checkbox [formControl]="isAccept"
                          label="Я согласен с условиями регистрации"/>
    </form>

    <div class="row justify-content-end">
        <amstore-button class="col" size="large" [disabled]="!isAccept.value" (click)="sendUser()">
            Зарегестрироваться
        </amstore-button>
    </div>

</amstore-panel-basic>
