@use 'utils';
@use 'spacing';


.amstore-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;


    img {
        object-fit: cover;
        cursor: pointer;
        margin: spacing.get-spacing(1);
        border-radius: 4px;
        max-width: 25%;


        @include utils.fhd {
            height: 30px;
        }

        @include utils.qhd {
            height: 50px;
        }

        &:first-child {
            width: 100%;
            max-width: 100%;

            @include utils.fhd {
                height: 120px;
            }

            @include utils.qhd {
                height: 160px;
            }
        }
    }
}
