@use "spacing";
@use "theming-var";
@use "typography";
@use "utils";

@mixin amstore-panel-color($theme) {
    background: theming-var.get-amstore-color($theme, dark);
}

:host {
    display: block;
    border-radius: 8px;
    overflow: hidden;

    @include utils.amstore-box-shadow();

    width: 100%;
    margin-bottom: spacing.get-spacing(4);

    &.amstore-primary {
        @include amstore-panel-color(green);
    }

    &.amstore-accent {
        @include amstore-panel-color(blue);
    }

    &.amstore-warn {
        @include amstore-panel-color(red);
    }

    &.amstore-special {
        @include amstore-panel-color(turquoise);
    }
}

.amstore-panel {
    &-header {
        display: flex;
        color: white;
        align-items: center;
        cursor: pointer;
        box-sizing: border-box;

        padding: spacing.get-spacing(3) spacing.get-spacing(6);
        height: 48px;

        @include typography.get-amstore-font("header", 20, null, null);

        &-wrapper {
            flex-grow: 1;
        }

        amstore-icon {
            padding-left: spacing.get-spacing(5);
        }
    }

    &-content {
        background: white;

        &-wrapper {
            padding: spacing.get-spacing(3) spacing.get-spacing(6);
        }
    }
}

// mobile
@media screen and (max-width: 768px) {
    :host {
        border-radius: 0;
    }
}
