<div class="amstore-header-logo" [routerLink]="['/']">
    <img src="assets/amstore logo.svg">
    <div class="amstore-header-logo-text">
        <span class="amstore-header-logo-title">AM.STORE</span>
        <span class="amstore-header-logo-title-mobile">AMERALD STORE</span>
        <span class="amstore-header-logo-description">OFFICIAL AMERALD STORE</span>
    </div>
</div>

<div class="amstore-header-controls">
    <div class="amstore-header-controls-wrapper">
        <ng-content></ng-content>
    </div>
</div>
