<div class="amstore-viewer-main-image">
    <div (click)="prevImage()">
        <amstore-icon iconName="left-arrow" [size]="32" [isBlack]="true"/>
    </div>

    <img [src]="data.images[data.index].image_full">

    <div (click)="nextImage()">
        <amstore-icon iconName="right-arrow" [size]="32" [isBlack]="true"/>
    </div>
</div>

<div class="amstore-viewer-snippet-images">
    @for (image of data.images; let i = $index; track image) {
        <img [src]="image.image_small" [class.image-active]="i === data.index" (click)="data.index = i">
    }
</div>
