@import "../../styles/spacing";
@import "../../styles/typography";
@import "../../styles/utils";

.amstore-menu {
    padding: get-spacing(default) 0 get-spacing(default) get-spacing(6);

    &-list {
        display: flex;
        flex-direction: column;
        padding: get-spacing(default);
    }

    amstore-button-menu {
        margin-bottom: get-spacing(2);
    }

    amstore-icon {
        margin-right: get-spacing(1);
    }

    h2 {
        margin: 0;
        cursor: default;
        @include get-amstore-font("headline", 16, null, null);
    }
}


// mobile
@media screen and (max-width: 768px) {
    .amstore-menu {
        padding: 0;
        overflow: auto;

        h2 {
            display: none;
        }

        &-list {
            flex-direction: row;
        }
    }
}
