@use "spacing";
@use "typography";

$field-border-radius: 8px;
$snapshot-image-width: 110px;
$snapshot-image-height: 100px;

$snapshot-image-full-width: $snapshot-image-width + spacing.get-spacing(4);

@mixin amstore-snapshot {
    @media screen and (max-width: 768px) {
        .amstore-snapshot {
            border-radius: 0;
            margin-bottom: spacing.get-spacing(6);

            img {
                object-fit: cover;
                width: $snapshot-image-width;
                height: $snapshot-image-height;
                margin: spacing.get-spacing(2);
                border-radius: spacing.get-spacing(1);
            }

            &-images {
                width: $snapshot-image-full-width;
            }

            h2 {
                @include typography.get-amstore-font("header", 24, null, null);
            }

            &-container {
                width: Calc(100% - #{$snapshot-image-full-width});

                &-header {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;

                    h2 {
                        margin: spacing.get-spacing(1);
                    }
                }
            }
        }
    }
}
