<div class="amstore-card-images-wrapper">
    <amstore-button class="amstore-card-edit-image-add" (click)="openImagesEdit()">
        Изменить <br> изображения
    </amstore-button>

    <amstore-image-list [images]="images"/>
</div>

<div class="amstore-card-container" [formGroup]="patternForm">
    <div class="amstore-card-container-header">
        <h1>Добавить/Изменить</h1>
    </div>

    <div class="amstore-card-container-line">
        <h3>Имя и цена:</h3>
        <div class="row">
            <div class="col-6">
                <ng-container formGroupName="name">
                    <amstore-forms-input formControlName="ru" label="Имя"/>
                </ng-container>

                <ng-container formGroupName="price">
                    <amstore-forms-input formControlName="ru" type="number" label="₽"/>
                </ng-container>
            </div>

            <div class="col-6">
                <ng-container formGroupName="name">
                    <amstore-forms-input formControlName="en" label="Name"/>
                </ng-container>

                <ng-container formGroupName="price">
                    <amstore-forms-input formControlName="en" type="number" label="$"/>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="amstore-card-container-line">
        <h3>Прочие параметры:</h3>

        <amstore-checkbox formControlName="hidden" label="Скрытый"/>
    </div>

    <div class="amstore-card-container-line">
        <h3>Цветовая схема:</h3>

        <amstore-form-upload format=".jpg" formControlName="color"/>
    </div>

    <div class="amstore-card-container-line" >
        <h3>Размеры и файлы:</h3>

        <amstore-pattern-sizes #patternSizes [formArray]="sizeArrayForm"/>
    </div>

    <div class="amstore-card-container-line">
        <h3>Категории:</h3>

        <amstore-form-select [items]="categoriesList$ | async"
                             label="Категории"
                             [multiple]="true"
                             formControlName="categories"/>
    </div>

<!--    @if (sizeArrayComponentList.length > 0) {-->
<!--        <div class="amstore-card-container-line" >-->
<!--            <h3>Размеры и файлы:</h3>-->

<!--            <amstore-form-array [controlArray]="sizeArrayControl"-->
<!--                                [arrayComponentList]="sizeArrayComponentList"-->
<!--                                [model]="sizeArrayModel"/>-->
<!--        </div>-->
<!--    }-->

    <div class="amstore-row amstore-card-container-buttons">
        <amstore-button (click)="save()" size="large">Сохранить</amstore-button>
    </div>
</div>
