@use "theming-var";
@use "spacing";
@use "typography";
@use "utils";

:host {
    display: flex;
    flex-direction: row;
    padding: spacing.get-spacing(4);
    gap: spacing.get-spacing(6);

    @include utils.amstore-border();

    @include utils.mobile {
        padding: spacing.get-spacing(3);
        gap: spacing.get-spacing(3);
    }
}


.snapshot-order {
    &__logo {
        border-radius: 4px;
        padding: spacing.get-spacing(4);
        background: theming-var.get-amstore-color(turquoise, deep);

        @include utils.mobile {
            padding: spacing.get-spacing(2);
        }
    }

    &__title {
        @include typography.get-amstore-font("body", 14);
        color: theming-var.get-amstore-color(gray, dark);

        & .value {
            @include typography.get-amstore-font("body", 18);
            color: theming-var.get-amstore-color(gray, deep);
        }
    }

    &__header {
        cursor: pointer;
        margin-top: 0;
    }

    &__purchase {
        padding-left: spacing.get-spacing(6);
    }
}
