<mat-form-field>
    <mat-label>
        <ng-content selector="amstore-forms-label"></ng-content>
    </mat-label>

    <input matInput [type]="type" [formControl]="formControl" [name]="name" [autocomplete]="autocomplete" ngDefaultControl [required]="required">

    <amstore-icon *ngIf="suffixName"
                  (click)="emitSuffixClick()"
                  [iconName]="suffixName"
                  [size]="20"
                  color="accent"
                  matSuffix></amstore-icon>

    <mat-error *ngIf="isErrorState">{{errors$ | async}}</mat-error>
</mat-form-field>
